// Properties Grid
.py-20.bg-gray-50
  .container.mx-auto
    h6.text-3x1.font-bold(class="",style="text-align: center; margin-bottom: 20px;color: #EE626B;")
      | | Properties
    h2.text-2xl.font-bold.mb-8.justify-center.flex We Provide The Best Property You Like
  .container.mx-auto.grid(class="md:grid-cols-3 gap-8")
    each prop in properties
      .bg-white.p-4.rounded.shadow
        img(src="/assets/images/" + prop.img, alt=prop.title, class="rounded mb-4")
        div.flex.items-center
          span(style="background-color: #fbd9cf; color: #1e1e1e; padding: 5px 12px; border-radius: 5px; margin-top: 25px;") #{prop.title}
          h6.font-bold.mt-2(style="color:#f35525; padding-left:150px") #{prop.price}
        h4.font-bold.text-lg.mt-1 #{prop.addr}
        ul.space-x-4(class="text-1xl text-gray-600 mt-2 flex flex-wrap gap-x-8 gap-y-8")
          li Bedrooms: #[strong= prop.beds]
          li Bathrooms: #[strong= prop.baths]
          li Area: #[strong= prop.area + ' m2']
          li Floor: #[strong= prop.floor]
          li Parking: #[strong= prop.parking]
        a(
          href="properties-details.html",
          class="mt-4 bg-black text-white inline-flex items-center rounded-full width-full mx-auto"
          style="width: 170px; padding: 10px; display: flex; justify-content: center; align-items: center;"
        ) Schedule a visit
